body {padding-left:100px;}
.nav-menu {
    display:flex;
    justify-content: space-between;
    padding:10px;
    align-items: center;
}
.modal-wrap {
    width:100%;
    height:100%;
    position:fixed;
    top:0;left:0;
    background: rgba(0,0,0,0.5);
    display:none;
    display: flex;
}
.modal-inner{
    width:80%;
    margin:50px auto;
    border-radius: 10px;
    background:#fff;
    padding:20px;
    height:30%;
}
a{
    color:#333;
    text-decoration:none;
}
.nav-sub {
    display:none;
}
#emil-alert, #psw-alert {
    display:none;
}
.left_menu{
    width: 150px;
    height:100%;
    background:#000;
    color:#fff;
    position:fixed;
    left:-150px
}
.modal_box {
    width:80%;
    height:30%;
    background:#eee;
    margin:auto;
    z-index:9;
    padding:30px;
    border-radius:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    transition: all 1s;
    transform:translateY(-300px);
    opacity:0;
    
}
.slide_down {
    transform:translateY(0px);
    opacity:1;
}
